@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: #fff;
}

.root {
    background-color: #f9fafb;
}

.overflow {
    overflow: hidden;
}

.loader {
    width: 100%;
    height: 100%;
    z-index: 99;
    /* background: #08aae1; */
    background: linear-gradient(45deg, #c624fc, #1d6bfd);
    position: fixed;
    top: 0;
    left: 0;
}

.svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-text {
    margin-bottom: 15px;
    color: white;
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navBar {
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: #f9fafb;
    position: fixed;
    top: 0;
}

.navBar-fade {
    left: +100%;
    transition: all 1s;
}

.navBar-apear {
    left: 0;
    transition: all 1s;
}

.btn-x {
    background: none;
    border: none;
    position: absolute;
    top: 3.5%;
    left: 93%;
    transform: translate(-96%, -3%);
}

.img-x {
    width: 1.7rem;
    opacity: 0.7;
}

.img-menu {
    width: 1.7rem;
    opacity: 0.7;
}

.nav-ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.cov-img {
    width: 3rem;
}

.a-cov {
    position: absolute;
    top: 20%;
    left: 48%;
    width: fit-content;
    transform: translate(-50%, -20%);
}

.copyright {
    position: absolute;
    top: 97.5%;
    /* left: 50%; */
    transform: translateY(-95%);
    color: rgba(0, 0, 0, 0.507);
    font-size: 0.8rem;
    text-align: center;
}

.loader-search {
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: white;
}

.svg-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-total {
    border-bottom: 5px solid #08aae1;
    background-color: rgba(8, 171, 225, 0.15);
    color: #009bcf;
}

.card-death {
    border-bottom: 5px solid #d50000;
    background-color: rgba(211, 47, 47, 0.15);
    color: #d50000;
}

.card-recovered {
    border-bottom: 5px solid #64dd17;
    background-color: rgba(118, 255, 5, 0.15);
    color: #00c853;
}

.card-active {
    border-bottom: 5px solid #ffc400;
    background-color: rgba(255, 234, 0, 0.15);
    color: #ffab00;
}

.table-total {
    background-color: rgba(8, 171, 225, 0.15);
    color: #009bcf;
}

.table-death {
    background-color: rgba(211, 47, 47, 0.15);
    color: #d50000;
}

.table-recovered {
    background-color: rgba(118, 255, 5, 0.15);
    color: #00c853;
}

.table-active {
    background-color: rgba(255, 234, 0, 0.15);
    color: #ffab00;
}

p,
td {
    font-size: 1.4rem;
}

.apear {
    opacity: 1;
    transform: translate(0);
    transition: all 1s;
}

.fade {
    opacity: 0;
    transform: translateX(-30px);
}

.flag-icon {
    width: 2.8rem;
    border-radius: 4px;
    /* margin-right: 10px; */
}

.search-canvas {
    overflow: hidden;
}

.first::after {
    content: "--";
    position: relative;
}

.last::before {
    content: "--";
    position: relative;
}

@media (max-width:540px) {
    p,
    td {
        font-size: 1.2rem;
    }
}